

<%= render 'form', company: @company %>

<div class = "container">
<div class="card">
	<center>
	<div class= "card-footer p-4 mb-3 bg-light">	
      <%= link_to 'Back', companies_path, class: "btn btn-success btn-lg"%>
</div>
</center>
</div>
</div>
